footer.footer
    .container
        .toxin 
          img.toxin-logo(src="footer/img/logo.svg" alt="Логотип")
          p.toxin-description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        ul.footer-list.navigation
          li.footer-item
            a.footer-link(href="#") Навигация
          li.footer-item
            a.footer-link(href="#") О нас
          li.footer-item
            a.footer-link(href="#") Новости
          li.footer-item
            a.footer-link(href="#") Служба поддержкки
          li.footer-item
            a.footer-link(href="#") Услуги
        ul.footer-list.about
          li.footer-item
            a.footer-link(href="#") О нас
          li.footer-item
            a.footer-link(href="#") О сервисе
          li.footer-item
            a.footer-link(href="#") Наша команда
          li.footer-item
            a.footer-link(href="#") Вакансии
          li.footer-item
            a.footer-link(href="#") Инвесторы
        ul.footer-list.help
          li.footer-item
            a.footer-link(href="#") Служба поддержки
          li.footer-item
            a.footer-link(href="#") Соглашения
          li.footer-item
            a.footer-link(href="#") Сообщества
          li.footer-item
            a.footer-link(href="#") Связь с нами
          li.footer-item
            a.footer-link(href="#") Инвесторы
        .subcription 
          p.subcription1 Подписка
          p.subcription2 Получайте специальные предложения и новости сервиса
        p.copyright Copyright © 2018 Toxin отель. Все права защищены.
        .social
          img.toxin-twit(src="footer/img/twitter.svg" alt="Твиттер")
          img.toxin-faceb(src="footer/img/facebook.svg" alt="Фейсбук")
          img.toxin-insta(src="footer/img/instagram.svg" alt="Инстаграм")