header.header
    nav.navbar
      .container
        a.navbar-logo(href="#")
          img(src="header/img/logo.svg" alt="Логотип")
        .container2 
          ul.navbar-list
            li.navbar-item
              a.navbar-link(href="#") О нас
            li.navbar-item
              a.navbar-link(href="#") Услуги
              //img(src="header/img/more_nav.svg" alt="")
            li.navbar-item
              a.navbar-link(href="#") Вакансии
            li.navbar-item
              a.navbar-link(href="#") Новости
            li.navbar-item
              a.navbar-link(href="#") Соглашения
              //img(src="header/img/more_nav.svg" alt="")
          ul.navbar-button
            button.button-light.button-light-navbar(type="submit") войти
            button.button-long.button-long-navbar зарегистрироваться
     
      